/* src/styles/index.css */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Apply Roboto font for body text */
  background-color: #131415;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif; /* Apply Playfair Display font to headings */
  color: white;
}

p {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font to paragraphs */
  color: white;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.container-fluid {
  padding: 0 15px;
}

.page {
  padding: 20px;
}
