/* src/styles/PhotoGallery.css */
#lightgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .photo-gallery-toggle {
    text-align: center;
    margin: 20px;
  }
  
  .photo-icon {
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    margin: 10px;
  }
  
  .photo-icon:hover {
    transform: scale(1.2);
  }
  