/* src/styles/Projects.css */
.page {
  padding: 10px;
  background: url('../assets/leaves_background.jpg') no-repeat center center fixed;
  background-size: cover;
}

h1 {
  font-size: 1em;
  margin-bottom: 20px;
  color: rgb(255, 255, 255)
}

p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: #fff; /* Make text color white for better contrast */
  max-width: 500px; /* Set maximum width for project cards */
  width: 100%; /* Make sure it takes the full width up to max-width */
}

.project h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.project p {
  font-size: 1.1em;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

.project-image {
  width: 100%;
  max-width: 300px; /* Adjust based on your preference */
  height: auto;
  margin-bottom: 10px;
  border-radius: 4px;
}
