* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: auto; /* Ensure the body can scroll */
}

.page {
  padding: 20px;
  margin: 0 auto;
  max-width: 1500px;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1em;
  margin-bottom: 10px;
}

.description {
  background-color: rgba(0, 0, 0, 0.8); /* Dark background color */
  color: #ffffff; /* White text color */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.articles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
}

.article-card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  position: relative;
}

.article-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.article-card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #ffffff;
}

.article-card p {
  font-size: 1em;
  margin-bottom: 10px;
  color: #cdc1c1;
}

.article-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.read-on-medium {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.read-on-medium a {
  color: #1a73e8;
  text-decoration: none;
  font-size: 0.9em;
}

.read-on-medium a:hover {
  text-decoration: underline;
}

.error {
  color: red;
  font-size: 1.2em;
  margin-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}

@media (min-width: 1024px) {
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  max-height: 90%;
  overflow-y: auto; /* Ensure modal content can scroll */
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5em;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
